.contentForm{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
gap: 20px;
}

.columnForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonContainer{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding-top: 20px;
}
 .buttonContainer button {
    background-color: #4285f4;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

.labelForm {
  margin-bottom: 4px;
}

.inputForm {
  width: 100%;
    padding: 0.5rem;
    border: 1px solid #080808;
}

.contentMap {
  margin-top: 20px;
}

.subtitleForm{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}