.contentForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

.formField {
    color: black;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
  }

  .contentButton{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }